@charset 'utf-8';
@import '_mixins';
@import '_normalize';
@import '_normalizeConfig';
@import '_debugger';
@import '_variables';
@import '_font';

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.categoryContainer {
  border: 1px dashed red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.itemContainer {
  border: 1px dashed red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: scroll;
}

.items {
  border: 1px dashed red;
  display: flex;
  flex-direction: row;
  justify-content: center;

}